*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(230, 248, 255);
    font-family:'Poppins', sans-serif;
}
/* ====header start===*/
.navbar{
    margin-top: 20px;
    height: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    flex-wrap: wrap;
}

#navitem a{
    margin: 20px;
    text-decoration: none;
    color: white;
}

#navitem a:visited{
    text-decoration: none;
    color: white;
}
#navitem{
    
 
    padding: 5px;
    display: flex;
    width: fit-content;
    align-items: center;

}


#navitem img{
    
    width: 51px;
    height: 51px;
}


#logo{
    
    display: flex;
    color: white;
    align-items: center;
     
}
#logo>img{
   
    margin-right: 25px;
    width: 40.42px;
    height: 51px;
}
/* ====header end===*/

/*======main start======*/
main{
    display: flex;

    justify-content: center;
}
section{
    padding: 20px;
    padding-top: 10px;
    margin-top: 8px;
    background-color: rgb(255, 255, 255);
    height: 700px;
    width: 880px;
    border-radius: 8px;
    
}
.title{
    color:#562EFF;
    font-size: 22px;
    font-weight: 600;
    margin-left: 17px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.top-player{
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.players{
    display: flex;
    padding: 8px;
    align-items: center;
   
    margin-bottom: 25px;
}
.players img{
    margin-right: 10px;
    height: 58px;
    width: 58px;
}

/* ========blogs========== */

.top-blog{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 10px;
    padding-top: 15px;
}


article{
   display: flex;
   

}

.article-detail{
    color: rgb(37, 37, 37);
    padding-left: 5px;
    padding-top: 12px;
    font-size: 24px;
    line-height: 38px;
    font-weight: 600;
}

.article-detail span{
    line-height: 22px;
    font-size: 14px;
    color: rgb(114, 113, 114);
}
article img{
    height: 140px;
    width: 177px;
}



/* =======footer start====== */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.course-container{
    margin-top: 8px;
    padding-top: 20px;
    height: 362px;
    width: 880px;
    background-color: white;
    border-radius: 8px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 10px;
}
.box{
    margin-left: 15px;
}
.box-img>img{
    height: 104px;
    width: 220px;
}
.box-detail{
    font-size: 20px;
    font-weight: 700;
}
.box-detail span{
    font-size: 10px;
    color: crimson;
}
.box-info{
    display: flex;
}
.box-info .time{
    margin-left: 10px;
    background-color: rgba(255, 105, 180, 0.479);
    padding: 3px;
    padding-top: 5px;
    border-radius: 5px 5px 5px 5px;
    font-size: 10px;
}
.box-info .rating span{
    
    font-size: 10px;
    color: orangered;
}



/* ====
=========
 APPLY MEDIA FOR 600PX SCREEN 
=========
===== */

@media only screen and (max-width: 600px)

{

    .navbar{
        margin-top: 0;
        padding: 8px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: blue;
      
    }
    
    #navitem a{
        margin: 20px;
        text-decoration: none;
        color: white;
    }
    
    #navitem a:visited{
        text-decoration: none;
        color: white;
    }
    #navitem{
        
     
        padding: 5px;
        display: flex;
        width: fit-content;
        align-items: center;
    
    }
    
    
    #navitem img{
        
        width: 51px;
        height: 51px;
    }
    
    
    #logo{
        
        display: flex;
        color: white;
        align-items: center;
         
    }
    #logo>img{
       
        margin-right: 25px;
        width: 40.42px;
        height: 51px;
    }

    main{
        display: flex;
    
       align-items: center;
    }

    section{
        padding: 20px;
        padding-top: 10px;
        margin-top: 8px;
        background-color: rgb(255, 255, 255);
        height: fit-content;
        width: 100%;
        border-radius: 8px;
        
    }
   
.top-player{
    margin-top: 5px;
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
  
.players{
    display: flex;
    padding: 4px;
    align-items: center;
    font-size: .5em;
   
    margin-bottom: 8px;
}
.players img{
    margin-right: 8px;
    height: 38px;
    width: 38px;
}
.title{
    color:#562EFF;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
}

.top-blog{
    display: flex;
    flex-direction: column;

    padding-top: 15px;
}


article{
   display: flex;
   

}

.article-detail{
    color: rgb(37, 37, 37);
    padding-left: 3px;
    padding-top: 8px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
}

.article-detail span{
    line-height: 22px;
    font-size: 8px;
    color: rgb(114, 113, 114);
}
article img{
    height: 90px;
    width: 110px;
}


.courses{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding-top: 10px;
}


.course-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-top: 8px;
    padding-top: 20px;
    
    width:100%;
    background-color: white;
    border-radius: 8px;
    padding-top: 5px;
    
}

}