*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(230, 248, 255);
    font-family:'Poppins', sans-serif;
}
/* ====header start===*/
.navbar{
    margin-top: 20px;
    height: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    flex-wrap: wrap;
}

#navitem a{
    margin: 20px;
    text-decoration: none;
    color: white;
}

#navitem a:visited{
    text-decoration: none;
    color: white;
}
#navitem{
    
 
    padding: 5px;
    display: flex;
    width: fit-content;
    align-items: center;
    position: relative;
    left: -200px;

}


#navitem img{
    
    width: 51px;
    height: 51px;
}


#logo{
    
    display: flex;
    color: white;
    align-items: center;
    position: relative;
    left: 200px;
     
}
#logo>img{
   
    margin-right: 25px;
    width: 40.42px;
    height: 51px;
}
/* ====header end===*/

/*======main start======*/
main{
    display: flex;

    justify-content: center;
}
section{
    padding: 20px;
    padding-top: 10px;
    margin-top: 8px;
    background-color: rgb(255, 255, 255);
    height: 700px;
    width: 880px;
    border-radius: 8px;
    
}
.title{
    color:#562EFF;
    font-size: 22px;
    font-weight: 600;
    margin-left: 17px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.top-player{
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.players{
    display: flex;
    padding: 8px;
    align-items: center;
   
    margin-bottom: 25px;
}
.players img{
    box-shadow:  8px 6px 6px rgba(238, 237, 237, 0.596) ;
    margin-right: 10px;
    height: 58px;
    width: 58px;
    border-radius: 100%;
}

/* ========blogs========== */

.top-blog{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 10px;
    padding-top: 15px;
}


article{
   display: flex;
   

}

.article-detail{
    color: rgb(37, 37, 37);
    padding-left: 5px;
    padding-top: 12px;
    font-size: 20px;
    line-height: 38px;
    font-weight: 600;
}

.article-detail span{
    line-height: 22px;
    font-size: 14px;
    color: rgb(114, 113, 114);
}
article img{
    height: 140px;
    width: 177px;
}



/* =======course start====== */
.course-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.course-container{
    margin-top: 8px;
    padding-top: 20px;
    height: 362px;
    width: 880px;
    background-color: white;
    border-radius: 8px;
}
.courses{
    display: grid;
    grid-template-columns: repeat(3,32%);
    padding-top: 10px;
}
.box{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: 8px 6px 6px rgba(238, 237, 237, 0.534);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-radius: 10px;

}
.box-img>img{
    height: 104px;
    width: 210px;
}
.box-detail{
    font-size: 18px;
    font-weight: 700;
}
.box-detail span{
    font-size: 10px;
    color: crimson;
}
.box-info{
    display: flex;
}
.box-info .time{
    margin-left: 10px;
    background-color: rgba(255, 105, 180, 0.479);
    padding: 3px;
    padding-top: 5px;
    border-radius: 5px 5px 5px 5px;
    font-size: 10px;
}
.box-info .rating span{
    
    font-size: 10px;
    color: orangered;
}

/* ==========footer======== */

footer{
    display: flex;
    height: fit-content;
    width: 100%;
}
.contact{
    flex: 1;
    color: white;
    background-color: rgb(121, 118, 118);
    text-align: center;
}
.contact form{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
    
    width: 80%;
    background-color: rgb(121, 118, 118);
    
}
.contact form>input, textarea{
    border: solid white;
    color: white;
    background-color: rgb(121, 118, 118);
}
.contact button{
    background-color: rgb(121, 118, 118);
    color: white;
    font-weight: 700;
    height: 30px;
    width: 60%;
    margin: 5px;
    border: solid white;
}

.address{
    flex: 1;
    background-color: crimson;
    display: flex;
    padding: 10px;
    padding-top: 4%;
    justify-content: space-around;
}

.address .pop-in{
font-size: 18px;
font-weight: 700;
line-height: 48px;
color: white;
}

.address .pop-in span{
    font-size: 32px;
    font-weight: 700;
    color: orange;
    margin-bottom: 20px;
    }

    .address .say-hello{
        margin-left: 15git px;
        font-size: 18px;
        font-weight: 700;
        line-height: 48px;
        color: white;
        }
    
    .address .say-hello span{
    
        font-size: 32px;
        font-weight: 700;
        color: orange;
        margin-bottom: 20px;
        }        
    
    .address .say-hello>ul  {
        list-style: none;
        display: flex;
    

    }

    .say-hello ul li{
        position: relative;
        left: -50px;
        padding: 10px;
        padding-top: 1px;
        font-size: 32px;

    }

    .address .fab,.address .fas{
        color: white;
    }

    .cradit{
        background-color: rgb(138, 2, 29);
        height: 35px;
        width: 100%;
        text-align: center;
        color: white;
        font-weight: 500;
    }


/* ====
=========
 APPLY MEDIA FOR 600PX SCREEN 
=========
===== */

@media only screen and (max-width: 600px)

{  
    footer{
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 100%;
    }
    
    .navbar{
        margin-top: 0;
        padding: 8px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: blue;
      
    }
    
    #navitem a{
        margin: 20px;
        text-decoration: none;
        color: white;
    }
    
    #navitem a:visited{
        text-decoration: none;
        color: white;
    }
    #navitem{
        
     
        padding: 5px;
        display: flex;
        width: fit-content;
        align-items: center;
        position: static;
    
    }
    
    
    #navitem img{
        display: none;
        
        width: 51px;
        height: 51px;
    }
    
    
    #logo{
        
        display: flex;
        color: white;
        align-items: center;
        position: static;
         
    }
    #logo>img{
       
        margin-right: 25px;
        width: 40.42px;
        height: 51px;
    }

    main{
        display: flex;
    
       align-items: center;
    }

    section{
        padding: 20px;
        padding-top: 10px;
        margin-top: 8px;
        background-color: rgb(255, 255, 255);
        height: fit-content;
        width: 100%;
        border-radius: 8px;
        
    }
   
.top-player{
    margin-top: 5px;
    
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
}
  
.players{
    display: flex;
    flex-direction: column;
    padding: 4px;
    align-items: center;
    color:goldenrod;
    font-size: 1.2em;
   
    margin-bottom: 8px;
}
.players img{
    margin-right: 8px;
    height: 78px;
    width: 78px;
}
.title{
    color:#2e82ff;
    font-size: 22px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
    position: relative;
    left: -10px;
}

.top-blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 15px;
}


article{
   display: flex;
   flex-direction: column;
   align-items: center;
box-shadow: 5px 4px 15px rgba(196, 192, 192, 0.671);
 border-radius: 10px;

}

.article-detail{
    color: rgb(37, 37, 37);
    padding-left: 3px;
    padding-top: 8px;
    font-size: 22px;
    line-height: 22px;
    font-weight: 600;
    text-align: center;
}

.article-detail span{
    line-height: 22px;
    font-size: 12px;
    color: rgb(114, 113, 114);
}
article img{
    height: 130px;
    width: 190px;
}


.courses{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding-top: 10px;
}


.course-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-top: 8px;
    padding-top: 20px;
    
    width:100%;
    background-color: white;
    border-radius: 8px;
    padding-top: 5px;
    
}

.address .pop-in,.address .say-hello{
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    color: white;
    }

.fab{
    font-size: 18px;
}



}






/* ==========FOR TAB & iPAD========== */

@media only screen and (min-width: 601px) and (max-width: 998px)

{   


    footer{
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 100%;
    }

    .navbar{
        margin-top: 0;
        padding: 8px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: blue;
      
    }
    
    #navitem a{
        margin: 20px;
        text-decoration: none;
        color: white;
    }
    
    #navitem a:visited{
        text-decoration: none;
        color: white;
    }
    #navitem{
        
     
        padding: 5px;
        display: flex;
        width: fit-content;
        align-items: center;
        position: static;
    }
    
    
    #navitem img{
        display: none;
        
        width: 51px;
        height: 51px;
    }
    
    
    #logo{
        
        display: flex;
        color: white;
        align-items: center;
        position: relative;
        left: 0px;
         
    }
    #logo>img{
       
        margin-right: 25px;
        width: 40.42px;
        height: 51px;
    }

    main{
        display: flex;
    
       align-items: center;
    }

    section{
        padding: 20px;
        padding-top: 10px;
        margin-top: 8px;
        background-color: rgb(255, 255, 255);
        height: fit-content;
        width: 100%;
        border-radius: 8px;
        
    }
   
.top-player{
    margin-top: 5px;
    margin-left: 105px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
  
.players{
    display: flex;
    padding: 4px;
    align-items: center;
    font-size: 1em;
    
    margin-bottom: 8px;
}
.players img{
    margin-right: 8px;
    height: 54px;
    width: 54px;
}
.title{
    color:#562EFF;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: -5px;
}

.top-blog{
    display: flex;
    flex-direction: column;
    
   

    padding-top: 5px;
}


article{
   display: flex;
   flex-wrap: wrap;
   padding-left: 165px;
   

}

.article-detail{
    color: rgb(37, 37, 37);
    padding-left: 10px;
    padding-top: 12px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
}

.article-detail span{
    line-height: 22px;
    font-size: 10px;
    color: rgb(114, 113, 114);
}
article img{
    height: 130px;
    width: 200px;
}


.courses{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding-top: 10px;
}


.course-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-top: 8px;
    padding-top: 20px;
    
    width:100%;
    background-color: white;
    border-radius: 8px;
    padding-top: 5px;
    
}

.box-img>img{
    height: 160px;
    width: 320px;
}

}